.messages_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: tomato;
}

.container {
    display: flex;
    gap: 10px;
    padding: 5px
}

.messages {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.pfp {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;

    border-radius: 50%;
    overflow: hidden;
}

.message_data {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: baseline;
}

.message_date {
    font-size: .75rem;
}

.message_content {
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
}