.your_bio {
    resize: none;
}

.error_label {
    color: red;
    font-size: 12px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* background-color: #282828; */
    border: 1px solid #aaa;
    padding: 8rem;
    border-radius: .25rem;
}

.label {
    font-family: unset;
    font-weight: normal;
    font-size: 1.5rem;
    opacity: 87%;
}

.input {
    width: 300px;
    padding: .25rem;
    font-size: 1rem;
    font-family: unset;
}

.separator {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.error_label {
    color: red;
    font-size: .9rem;
}

.button {
    border: none;
    padding: .75rem;
    padding-inline: 2rem;
    border-radius: 5px;
}

.link {
    text-decoration: none;
}